.buttonStyle {
    background: white;
    border-radius: 5%;
    width: 25px;
    margin: 2px 5px 0 0;
    color: rgb(38, 40, 34);
    border: 1px solid black;

    &.active {
        background: salmon;
        color: white;
    }
}
